/* stylelint-disable */
/* eslint-disable */
/* prettier-ignore */
@font-face {
    font-family: 'diting';
    /* Project id 4532118 */
    src:
        url('//at.alicdn.com/t/c/font_4532118_voiehvkwg2s.woff2?t=1714653655396') format('woff2'),
        url('//at.alicdn.com/t/c/font_4532118_voiehvkwg2s.woff?t=1714653655396') format('woff'),
        url('//at.alicdn.com/t/c/font_4532118_voiehvkwg2s.ttf?t=1714653655396') format('truetype');
}

.diting {
    font-family: 'diting' !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    /* -moz-osx-font-smoothing: grayscale; */
}

.icon-weixin:before {
    content: '\e620';
}

.icon-bilibili:before {
    content: '\e609';
}

.icon-GitHubBlack:before {
    content: '\ea0a';
}

.icon-yuque:before {
    content: '\e625';
}

.icon-tengxunyun:before {
    content: '\e6dd';
}

.icon-Avator:before {
    content: '\ea0c';
}