/* stylelint-disable */
/* eslint-disable */
/* prettier-ignore */
/* 在线链接服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
    font-family: 'diting';  /* Project id 4532118 */
    src: 
         url('//at.alicdn.com/t/c/font_4532118_l845azdxscs.woff2?t=1714825452694') format('woff2'),
         url('//at.alicdn.com/t/c/font_4532118_l845azdxscs.woff?t=1714825452694') format('woff'),
         url('//at.alicdn.com/t/c/font_4532118_l845azdxscs.ttf?t=1714825452694') format('truetype');
  }

.diting {
    font-family: 'diting' !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    /* -moz-osx-font-smoothing: grayscale; */
}

.icon-weixin:before {
    content: '\e620';
}

.icon-bilibili:before {
    content: '\e609';
}

.icon-GitHubBlack:before {
    content: '\ea0a';
}

.icon-yuque:before {
    content: '\e625';
}

.icon-tengxunyun:before {
    content: '\e6dd';
}

.icon-Avator:before {
    content: '\ea0c';
}
.icon-face:before {
    content: '\e681';
}
.icon-send:before {
    content: '\e6f3';
}
.icon-file:before {
    content: '\e615';
}
.icon-at:before {
    content: '\e60c';
}
.icon-img:before {
    content: '\ea0e';
}